<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Random — Steam Avatars</title>

        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/random.css">
    </head>
    <body>
<%- include("template\\nav.ejs") %>
        <div class="content">
            <a class="avatar" href="<%- avatar %>">
                <img src="<%- avatar %>" alt="Avatar" />
            </a>
        </div>
<%- include("template\\footer.ejs") %>
    </body>
</html>