        <div class="navbar">
            <a href="/" class="navbar-title">Steam Avatars</a>
            <div class="navbar-btns">
                <a class="navbar-btn" href="/">Home</a>
                <a class="navbar-btn" href="/random">Random</a>
                <a class="navbar-btn" href="/upload">Upload</a>
            </div>
        </div>